<table class="alt">
 <thead>
   <tr>
     <th>Name</th>
     <th>Email</th>
     <th>Github username</th>
     <th>Edit</th>
   </tr>
 </thead>

 <tbody>
   <% @coder.each do |coder| %>
     <tr>
       <td><%= coder.name %></td>
       <td><%= coder.email %></td>
       <td><%= coder.github_username %></td>
       <td><%= link_to 'Show', user_coder_path(current_user.id, coder) %><br>
           <%= link_to 'Edit', edit_user_coder_path(current_user.id, coder) %><br>
           <%= link_to 'Delete', user_coder_path(current_user.id, coder), :method => :delete %><br>
     </tr>
   <% end %>
 </tbody>
</table>
