<!DOCTYPE html>
<html>
<head>
  <title>SampleRor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
    <br>
    <%= link_to '+  New Coder', new_user_coder_path(current_user.id) %>
    <br>
    <%= link_to 'My Coders', user_coders_path(current_user) %>

  <% else %>
    <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
  <% end %>
<%= yield %>

</body>
</html>
